@font-face
{
  font-family: "Montserrat";
  src: url('./assets/fonts/Montserrat.woff2');
}
:root{
   --body_background: #101010;
    --body_color: #fff;
    --heading_color: #ffe400;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #101010;
  color: #fff;
  font-family: "Montserrat", sans-serif;
}
.align_center {
    display: flex;
    align-items: center;
}
